* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  width: 100vw;
}
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(208, 233, 248);
}

.wrapper {
  padding: 30px;
  background-color: rgb(108, 190, 241);
  width: 80%;
  height: 90%;
  margin-top: 50px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border: 2px solid rgba(89, 153, 226, 0.7);
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(86, 192, 206, 0.7);
}

h1 a {
  display: block;
  height: 90px;
  color: rgb(36, 105, 233);
  font-size: 80px;
  font-family: "Dongle", sans-serif;
}

h1 a:hover {
  border-bottom: 3px solid rgb(90, 147, 201);
}

a {
  text-decoration: none;
  color: inherit;
}

.loginTitle {
  width: 380px;
  height: 47px;
  font-weight: 700;
  font-size: 50px;
  line-height: 47px;
  color: #0068ff;
  font-family: "Dongle", sans-serif;
}

.form_main {
  width: 380px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form {
  width: 380px;
  height: 60px;
  background: #ffffff;
  border: 1px solid #d2d2d2;
  border-radius: 7px;
  font-weight: 400;
  font-size: 25px;
  line-height: 24px;
  color: #797979;
  padding-left: 7px;
  font-family: "Dongle", sans-serif;
}

.login {
  width: 380px;
  height: 75px;
  background: rgb(46, 204, 113);
  border: 1px solid rgb(46, 204, 113);
  border-radius: 10px;
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: "Dongle", sans-serif;
}

.login:hover {
  cursor: pointer;
}

.login_etc {
  font-size: 40px;
  color: blue;
  font-weight: bold;
  font-family: "Dongle", sans-serif;
}
