h1 a {
  display: inline-block;
  height: 30px;
}
form {
  margin-top: 10px;
  font-size: 35px;
  font-family: "Dongle", sans-serif;
}

form#gu {
  display: inline;
}

#middle {
  height: 850px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#area {
  background-color: gray;
  margin-top: 10px;
  width: 700px;
  height: 100%;
}
